<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="profile-image">
          <img class="img-xs rounded-circle" src="assets/images/faces/face8.jpg" alt="profile image">
          <div class="dot-indicator bg-success"></div>
        </div>
        <div class="text-wrapper">
          <p class="profile-name"><%= user.userName%></p>
          <% switch(parseInt(user.role)) {
            case 0: %>
          <p class="designation">Ultimate user</p>
          <%  break;
              case 1: %> 
          <p class="designation">TIER 1 user</p>
          <%  break;
              case 2: %>
          <p class="designation">TIER 2 user</p>
          <%  break;
              case 3: %>
          <p class="designation">TIER 3 user</p>   
          <%  break;
              case 4: %>
          <p class="designation">Super Admin</p>
          <%  break; 
          } %>
        </div>
      </a>
    </li>
    <li class="nav-item nav-category">Main Menu</li>

    <li class="nav-item">
      <a class="nav-link" href="/dashboard">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/allbots">
        <i class="menu-icon typcn typcn-shopping-bag"></i>
        <span class="menu-title">Bots Manager</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/createbot">
        <i class="menu-icon typcn typcn-th-large-outline"></i>
        <span class="menu-title">Create Bot</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/schedule">
        <i class="menu-icon typcn typcn-bell"></i>
        <span class="menu-title">Schedule manager</span>
      </a>
    </li>

    <% if(parseInt(user.role) == 4) { %>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <i class="menu-icon typcn typcn-document-add"></i>
        <span class="menu-title">Super admin</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="#"> Default page1 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Default page2 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Default page3 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Default page4 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Default page5 </a>
          </li>
        </ul>
      </div>
    </li>
    <% } %>
  </ul>
</nav>