<footer class="bg-light pl-lg-5">
    <div class="form-group text-center pt-1 pl-lg-5">
        <p class="text-dark pt-2 pl-lg-5"> © 2018 - 2019 Meta Medias ® Global Inc.</p>
    </div>
</footer>
<!-- fixed-bottom -->