<nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0">
    <a href="/" class="navbar-brand col-sm-3 text-center col-md-2 mr-0">
        <!-- <h4> Meta Medias </h4> -->
        <img src="assets/images/logo-white.png" style="width: 100%;" alt="">
    </a>
    
    <div class="bmd-form-group bmd-collapse-inline pull-xs-right pr-3">
        <ul class="nav justify-content-center" style="font-size:20px;">
            <li class="nav-item">
                <div class="dropdown">
                    <input id="userid" value="<%= user.id%>" type="text" hidden>
                    <button class="btn btn-light dropdown-toggle mt-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= user.username%>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">
                            <i class="fa fa-users" style="font-size:20px;"></i>
                            Profile
                        </a>
                        <a class="dropdown-item" href="/logout">
                            <i class="fa fa-sign-out" style="font-size:20px;"></i>
                            Log out
                        </a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white p-2"  href="#">
                    <i class="fa fa-facebook-square"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white p-2" href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white p-2" href="#">
                    <i class="fa fa-youtube-square"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white p-2" href="#">
                    <i class="fa fa-linkedin-square"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white p-2" href="#">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>