<section>
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-white sidebar">
            <div class="sidebar-sticky">
                <div class="text-center text-info pt-3">
                    <div class="list-group-item">
                        <i class="material-icons text-info">
                            chat
                        </i>
                        <h4><strong>DM Bot</strong></h4>
                    </div>
                </div>
                <ul class="list-group pl-3 navbar-nav">
                    <li class="nav-item ">
                        <hr>
                        <a href="/dashboard" class="nav-link list-group-item">
                            <i class="material-icons text-dark">
                                dashboard
                            </i>
                            Dashboard
                        </a>
                    </li>

                    <%# <li class="nav-item ">
                        <hr>
                        <a href="/profile" class="nav-link list-group-item">
                            <i class="material-icons text-dark">
                                account_circle
                            </i>
                            User profile
                        </a>
                    </li>  %>

                    <li class="nav-item ">
                        <hr>
                        <a href="/allbots" class="nav-link list-group-item">
                            <i class="material-icons text-dark">
                                how_to_reg
                            </i>
                            All bots
                        </a>
                    </li>

                    <li class="nav-item ">
                        <hr>
                        <a href="/connect" class="nav-link list-group-item">
                            <i class="material-icons text-dark">
                                pets
                            </i>
                            Connect bot
                        </a>
                    </li>
                    
                    <%# <li class="nav-item ">
                        <hr>
                        <a href="/" class="nav-link list-group-item">
                            <i class="material-icons text-dark">
                                textsms
                            </i>
                            Dialogs
                        </a>
                    </li> %>
                </ul>
            </div>
        </nav>
    </div>
</section>