<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Social chat bots">
    <meta name="author" content="MetaMedia">
    <title>MetaMedias - Marketing automation. Social bot software.</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">
    <!-- Begin import core css files -->
    <link href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous" rel="stylesheet" >
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <!-- Input Custom style css file -->
    <link href="assets/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="assets/stylesheets/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/stylesheets/owl.theme.default.min.css" rel="stylesheet">

    <link href="app/css/custom-style.css" rel="stylesheet">
    <link href="app/css/style.css" rel="stylesheet">

    <link rel="shortcut icon" href="assets/images/favicon/favicon.ico" type="image/x-icon">
</head>
    <%- body %>
</html>