<body data-gr-c-s-loaded="true">
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <% include ../partials/_navbar %>
        <!-- partial -->

        <div class="container-fluid page-body-wrapper">

        <!-- partial:../../partials/_sidebar.html -->
        <% include ../partials/_sidebar %>
        <!-- partial -->

            <div class="main-panel">
                <div class="content-wrapper"> 
                    <div class="row">
                        <div class="col-md-2 mt-3 mb-3 card-bots">
                            <div class="card">
                                <img src="assets/images/bot.jpg" class="card-img bot-img" alt="header-image">
                                <div class="card-img-overlay p-2">
                                    <div class="text-right text-white">
                                        <i class="material-icons outlined">
                                            cancel
                                        </i>
                                    </div>
                                </div>

                                <div class="card-body p-1 mb-3">
                                    <div class="card-title text-center m-0">
                                        <h4 class="text-primary">
                                            <b>RangoBotTest</b>
                                        </h4>
                                    </div>
                                    <div class="text-center card-btn-group">
                                        <button class="btn btn-lg btn-primary btn-rounded pl-3 pt-2 pr-3 pb-2 mb-2">
                                            <h7 class="m-0 p-0">
                                                <i class="fa fa-edit"></i>
                                                Edit
                                            </h7>
                                        </button>

                                        <button class="btn btn-lg btn-primary btn-rounded pl-3 pt-2 pr-3 pb-2 mb-2">
                                            <h7 class="m-0 p-0">
                                                <i class="fa fa-pause"></i>
                                                Pause
                                            </h7>
                                        </button>
                                
                                        <button class="btn btn-lg btn-warning btn-rounded pl-3 pt-2 pr-3 pb-2 mb-2">
                                            <h7 class="m-0 p-0">
                                                <i class="fa fa-cogs"></i>
                                                Challenge
                                            </h7>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 mt-3 mb-3 card-bots">
                            <div class="card">
                                <img src="assets/images/bot.jpg" class="card-img bot-img" alt="header-image">
                                <div class="card-img-overlay p-2">
                                    <div class="text-right text-white">
                                        <i class="material-icons outlined">
                                            cancel
                                        </i>
                                    </div>
                                </div>

                                <div class="card-body p-1 mb-3">
                                    <div class="card-title text-center m-0">
                                        <h4 class="text-primary">
                                            <b>RangoBotTest</b>
                                        </h4>
                                    </div>
                                    <div class="text-center">
                                        <button type="button"
                                            class="btn btn-lg btn-primary btn-rounded pl-3 pt-2 pr-3 pb-2 mb-2"
                                            data-toggle="modal" 
                                            data-target="#editModal">

                                            <h7 class="m-0 p-0">
                                                <i class="fa fa-edit"></i>
                                                Edit
                                            </h7>
                                        </button>

                                        <button type="button" 
                                            class="btn btn-lg btn-primary btn-rounded pl-3 pt-2 pr-3 pb-2 mb-2"
                                            data-toggle="modal" 
                                            data-target="#stateModal">
                                            <h7 class="m-0 p-0">
                                                <i class="fa fa-play"></i>
                                                Play
                                            </h7>
                                        </button>
                                
                                        <button type="button" 
                                            class="btn btn-lg btn-warning btn-rounded pl-3 pt-2 pr-3 pb-2 mb-2"
                                            data-toggle="modal" 
                                            data-target="#challengeModal">
                                            <h7 class="m-0 p-0">
                                                <i class="fa fa-cogs"></i>
                                                Challenge
                                            </h7>
                                        </button>
                                    </div>
                                </div>

                                <!-- Begin Modal -->

                                 <!-- Begin edit modal -->
                                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editModalLabel">Edit bot modal</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Begin edit modal -->

                                <!-- Begin state modal -->
                                <div class="modal fade" id="stateModal" tabindex="-1" role="dialog" aria-labelledby="stateModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="stateModalLabel">Bot state modal</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Begin state modal -->

                                <!-- Begin challenge modal -->
                                <div class="modal fade" id="challengeModal" tabindex="-1" role="dialog" aria-labelledby="challengeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="challengeModalLabel">Callenge bot modal</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Begin challenge modal -->

                                <!-- End Modal -->

                            </div>
                        </div>
                    </div>
                </div>
            <!-- content-wrapper ends -->

            <!-- partial:../../partials/_footer.html -->
            <% include ../partials/_footer %>

            <!-- partial -->
            </div>
        <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <% include ../partials/_scripts %>
</body>