<body data-gr-c-s-loaded="true">
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <% include ../partials/_navbar %>
        <!-- partial -->

        <div class="container-fluid page-body-wrapper">

        <!-- partial:../../partials/_sidebar.html -->
        <% include ../partials/_sidebar %>
        <!-- partial -->

            <div class="main-panel">
                <div class="content-wrapper"> 
                    <div class="row">
                        <div class="col-md-7">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-group pl-3">
                                        <h4 class="text-primary">
                                            <strong>
                                                Last Dialogs
                                            </strong>
                                        </h4>
                                    </div>
                                    <table class="table table-hover">
                                        <thead class="bg-secondary">
                                            <tr class="text-center">
                                                <th scope="col">
                                                    <strong>
                                                    Bot
                                                    </strong>
                                                </th>
                                                <th scope="col">
                                                    <strong>
                                                        Client
                                                    </strong>
                                                </th>
                                                <th scope="col">
                                                    <strong>
                                                    Last
                                                    </strong>
                                                </th>
                                                <th scope="col">
                                                    <strong>
                                                    Messges
                                                    </strong>    
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody style="cursor: pointer;">
                                            <tr class="text-center align-middle"  data-toggle="modal" data-target="#messageHistory" style="cursor: pointer;">
                                                <th scope="row">
                                                    test
                                                </th>
                                                <td class="float-left">
                                                    <img src="" class="rounded-circle border-info" style="width: 35px; border: 2px solid;" alt="">
                                                    <strong>
                                                    &nbsp;test
                                                    </strong>
                                                </td>
                                                <td>
                                                    <strong>
                                                    test
                                                    </strong>
                                                </td>
                                                <td>
                                                    <strong>
                                                    test
                                                    </strong>
                                                </td>
                                            </tr>
                                      
                                        </tbody>
                                    </table>
 
                                    <!-- Begin Modal -->
                                    <div class="modal fade" id="messageHistory" tabindex="-1" role="dialog" ria-labelledby="messageHistoryLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-full-right" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <img src="" class="rounded-circle border-primary" style="border: 5px solid; width: 90px;" alt="">
                                                    <div class="form-group p-1 pl-3">
                                                        <h4 class="modal-title" id="messageHistoryLabel">
                                                            <strong class="text-primary">
                                                                
                                                            </strong>
                                                        </h4>
                                                        <span class="pb-0 font-italic font-weight-bold"></span><br>
                                                        <span class="pb-0 font-italic font-weight-bold"></span>
                                                    </div>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body" style="min-height: 380px; max-height: 750px; overflow: auto !important;" id="result">
                                                    <div class="row p-3">
                                                        <div class="content" id="chatContent" style="width: 100% !important;">
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                    <div class="input-group mb-3 pl-5 pr-5">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">
                                                                <a href="#" style="font-size: 20px;">
                                                                    <i class="fa fa-smile"></i>
                                                                </a>
                                                            </span>
                                                        </div>
                                                        <input 
                                                            id="input-direct-message"
                                                            type="text" 
                                                            class="form-control pl-3" 
                                                            placeholder="&nbsp; Type a message here" 
                                                            aria-label="Type a message here" 
                                                            aria-describedby="basic-addon1"
                                                            required />
                                                        <button 
                                                            class="btn btn-primary">
                                                            send
                                                        </button>
                                                    </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Modal -->
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-inline pl-3">
                                        <h4 class="text-success">
                                            <strong>
                                                Quick Stats
                                            </strong>
                                        </h4>
                                        <div class="form-group pl-3 pt-0 ">
                                            <select id="dayFilter" class="form-control">
                                                <option value="1" selected> Today </option>
                                                <option value="2">Yesterday</option>
                                                <option value="3">Week</option>
                                                <option value="4">months</option>
                                                <option value="5">Years</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <table class="table table-hover">
                                            <thead class="bg-secondary">
                                                <tr class="text-center">
                                                    <th scope="col">
                                                        <strong>
                                                        Bot
                                                        </strong>
                                                    </th>
                                                    <th scope="col">
                                                        <strong>
                                                        Dialogs started
                                                        </strong>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody style="cursor: pointer;" id="dialogTbody">
                                                <!-- Inputed dialogs -->
                                            </tbody>
                                        </table>
                                        <div id="dialogDiv">
                                            <!-- Inputed dialogs -->
                                        </div>
                                    </div>
                                    <hr>
        
                                    <div class="form-group">
                                        <table class="table table-hover">
                                            <thead class="bg-secondary">
                                                <tr class="text-center">
                                                    <th scope="col">
                                                        <strong>
                                                        Bot
                                                        </strong>
                                                    </th>
                                                    <th scope="col">
                                                        <strong>
                                                        Comment added
                                                        </strong>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody style="cursor: pointer;" id="commentTbody">
                                                <!-- Inputed dialogs -->
                                            </tbody>
                                        </table>
                                        <div id="commentDiv">
                                            <!-- Inputed dialogs -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- content-wrapper ends -->

            <!-- partial:../../partials/_footer.html -->
            <% include ../partials/_footer %>
            <!-- partial -->
            </div>
        <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <% include ../partials/_scripts %>
</body>