<body data-gr-c-s-loaded="true">
    <!--HEADER START-->
    <div class="main-navigation navbar-fixed-top">
        <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="/">
                <strong>MetaMedias</strong>
            </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#banner">Home</a></li>
                <li><a href="#service">Service</a></li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
            </div>
        </div>
        </nav>
    </div>
    <!--HEADER END-->

    <!--BANNER START-->
    <div id="banner" class="section-padding">
        <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1 style="color: white;">
                    Instagram business growth system & sales automation platform that drives nearly unlimited traffic to products and services without paying for ads
                </h1>
                <p class="big">Instagram Direct Message Service system.</p>
                <a href="/login" class="btn btn-banner">Get start<i class="fa fa-send"></i></a>
            </div>
        </div>
        </div>
    </div>
    <!--BANNER END-->

    <!--CTA1 START-->
    <div class="cta-1">
    </div>
    <!--CTA1 END-->

    <!--SERVICE START-->
    <div id="service" class="section-padding">
        <div class="container">
        <div class="row">
            <div class="page-title text-center">
            <h1>Our Service</h1>
            <p style="font-size: 16px;">The way it works is it plugs into your companies Instagram account <br>
                and proactively reaches out to targeted customers opening, <br>
                and closing sales using direct messages only. (Chatbot) that follows up for you, <br> 
                you provide it scripts and it will execute those scripts to qualify <br>
                and lead prospects ultimately to purchase.</p>
            <hr class="pg-titl-bdr-btm"></hr>
            </div>
            <div class="col-md-4">
            <div class="service-box">
                <div class="service-icon"><i class="fa fa-picture-o"></i></div>
                <div class="service-text">
                <h3>Direct Message</h3>
                <p> doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="service-box">
                <div class="service-icon"><i class="fa fa fa-code"></i></div>
                <div class="service-text">
                <h3>Automation</h3>
                <p> doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="service-box">
                <div class="service-icon"><i class="fa fa-diamond"></i></div>
                <div class="service-text">
                <h3>Marketing</h3>
                <p> doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.</p>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>

    <!--CTA2 START-->
    <div class="cta2">
        <div class="container">
        <div class="row white text-center">
            <h3 class="wd75 fnt-24">“The social media marketing is depending on your hand.” - Sean Riese</h3>
        </div>
        </div>
    </div>
    <!--CTA2 END-->

    <!--CONTACT START-->
    <div id="contact" class="section-padding">
        <div class="container">
        <div class="row">
            <div class="page-title text-center">
            <h1>Quick Contact</h1>
            <p>Please leave your message if you have a question or interested for our service, <br> we are welcome to your contacting using this platform "CONTACT US" page </p>
            <hr class="pg-titl-bdr-btm"></hr>
            </div>
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>

            <div class="form-sec">
            <form action="" method="post" role="form" class="contactForm">
                <div class="col-md-4 form-group">
                    <input type="text" 
                        name="name" 
                        class="form-control text-field-box" 
                        id="name" 
                        placeholder="Your Name" 
                        data-rule="minlen:4" 
                        data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                </div>
                <div class="col-md-4 form-group">
                    <input type="email" 
                        class="form-control text-field-box" 
                        name="email" 
                        id="email" 
                        placeholder="Your Email" 
                        data-rule="email" 
                        data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                </div>
                <div class="col-md-4 form-group">
                    <input type="text" 
                        class="form-control text-field-box" 
                        name="subject" 
                        id="subject" 
                        placeholder="Subject" 
                        data-rule="minlen:4" 
                        data-msg="Please enter at least 8 chars of subject" />
                    <div class="validation"></div>
                </div>
                <div class="col-md-12 form-group">
                    <textarea 
                        class="form-control text-field-box" 
                        name="message" 
                        id="message"
                        rows="5" 
                        data-rule="required" 
                        data-msg="Please write something for us" 
                        placeholder="Message"></textarea>
                    <div class="validation"></div>

                <button class="button-medium" id="contact-submit" type="submit" name="contact">Submit Now</button>
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
    <!--CONTACT END-->

    <!--FOOTER START-->
    <footer class="footer section-padding">
        <div class="container">
        <div class="row">
            <div style="visibility: visible; animation-name: zoomIn;" class="col-sm-12 text-center wow zoomIn">
            <h3>Follow us on</h3>
            <div class="footer_social">
                <ul>
                <li><a class="f_facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="f_twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="f_google" href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a class="f_linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            </div>
            <!--- END COL -->
        </div>
        <!--- END ROW -->
        </div>
        <!--- END CONTAINER -->
    </footer>
    <!--FOOTER END-->
    <div class="footer-bottom">
        <div class="container">
        <div style="visibility: visible; animation-name: zoomIn;" class="col-md-12 text-center wow zoomIn">
            <div class="footer_copyright">
            <p> © Copyright, All Rights Reserved.</p>
            <div class="credits">
                Created by <a href="https://metamedias.co">Metamedias.co</a>
            </div>
            </div>
        </div>
        </div>
    </div>

    <% include ../partials/_scripts %>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="assets/js/slick.min.js"></script>
    <script type="text/javascript" src="assets/js/custom.js"></script>
    <script src="app/js/contactform.js"></script>
</body>