<body data-gr-c-s-loaded="true" class="pt-5" style="background-color: #0069ff; background-image: linear-gradient(to right,#0079ff, #0069ff , #0079ff);">
    <div class="container pt-5">
        <div class="col-md-6 offset-xl-3 mt-4">
            <div class="form-goup text-center">
                <img src="assets/images/logo-white.png" style="width: 60%" alt="">
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <div class="form-group text-center mt-3">
                        <h2 class="font-weight-bold text-dark">Log in to Meta Medias </h2>
                        <label for="" class="text-secondary mt-1">Welcome to Meta Medias</label>
                    </div>

                    <form action="/user/login" method="post" class="form-validation pl-lg-5 pr-lg-5">
                        <div class="input-group mt-5">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="material-icons text-primary">
                                        email &nbsp;
                                    </i>
                                </span>
                            </div>
                            <input id="email" name="email" type="email" class="form-control" placeholder=" &nbsp;User email or User name" autocomplete="on" autofocus required/>
                        </div>

                        <div class="input-group mt-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="material-icons text-primary">
                                        lock &nbsp;
                                    </i>
                                </span>
                            </div>
                            <input id="password" name="password" type="password" class="form-control" placeholder=" &nbsp;Password" autocomplete="on" required/>
                        </div>

                        <div class="form-group text-center mt-4">
                            <button type="submit" class="ml-auto p-2 pl-5 pr-5 text-weight-bold btn btn-raised btn-success">
                                Sign in
                            </button>
                        </div>

                        <div class="text-center form-goup font-weight-bold pl-5 pr-5">
                            <label for="" style="line-height: 20pt !important;">
                               <a href="#" class="text-info"> Forgot your password?</a>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center text-white font-weight-bold mt-3" style="font-size: 18px;">
                <label for="" >Don't you have an account?</label>
                <a href="/signup" class="text-white">
                    Signup
                </a>
            </div>
        </div>
    </div>

    <!-- Begin import jabascript libs -->
    <% include ../partials/scripts %>
    <!-- End import jabascript libs -->

    <script src="app/js/login.js"></script>
</body>