<body data-gr-c-s-loaded="true" class="pt-5" style="background-color: #0069ff; background-image: linear-gradient(to right,#0079ff, #0069ff , #0079ff);">
    <div class="container pt-5">
        
        <div class="col-md-6 offset-xl-3 mt-4">
            <div class="form-goup text-center">
                <img src="assets/images/logo-white.png" style="width: 60%" alt="">
            </div>

            <div class="card mt-3">
                <div class="card-body">
                    <div class="form-group text-center mt-5">
                        <h2 class="font-weight-bold text-dark">
                            <strong>Sign up with code</strong>
                        </h2>
                        <hr>
                    </div>

                    <form action="/user/signup" method="post" class="form-validation mt-4 pl-lg-3 pr-lg-3">
                        <div class="row mt-3">
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="material-icons text-primary">
                                                person &nbsp;
                                            </i>
                                        </span>
                                    </div>
                                    <input id="firstName" name="firstName" type="text" class="form-control" placeholder=" &nbsp;First name" autocomplete="on" autofocus autocomplete="on" required/>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="material-icons text-primary">
                                                person &nbsp;
                                            </i>
                                        </span>
                                    </div>
                                    <input id="lastName" name="lastName" type="text" class="form-control" placeholder=" &nbsp;Last name" autocomplete="on" required/>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="material-icons text-primary">
                                                email &nbsp;
                                            </i>
                                        </span>
                                    </div>
                                    <input id="email" name="email" type="email" class="form-control" placeholder=" &nbsp;User email" autocomplete="on" required/>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="material-icons text-primary">
                                                code &nbsp;
                                            </i>
                                        </span>
                                    </div>
                                    <input id="code" name="code" type="number" class="form-control" placeholder=" &nbsp;Enter your code." autocomplete="on" required/>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="material-icons text-primary">
                                                lock &nbsp;
                                            </i>
                                        </span>
                                    </div>
                                    <input id="password" name="password" type="password" class="form-control" placeholder=" &nbsp;Password" autocomplete="on" required/>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="material-icons text-primary">
                                                lock_open &nbsp;
                                            </i>
                                        </span>
                                    </div>
                                    <input id="rpassword" name="rpassword" type="password" class="form-control" placeholder=" &nbsp;Confirm password" autocomplete="on" required/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group text-center mt-5">
                            <button type="submit" class="ml-auto p-2 pl-5 pr-5 text-weight-bold btn btn-raised btn-success">
                                Sign Up
                            </button>
                        </div>
                        <div class="text-center form-goup text-secondary font-weight-bold pl-5 pr-5">
                            <label for="" style="line-height: 20pt !important;">
                                By signing up, you agree to the 
                                <a href="#" class="text-info">Terms of Service</a> and 
                                <a href="#" class="text-info">Privacy Policy</a>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center text-white font-weight-bold mt-3" style="font-size: 18px;">
                <label for=""  >Already have an account?</label>
                <a href="/" class="text-white">
                    Signin
                </a>
            </div>
        </div>
    </div>

    <!-- Begin import jabascript libs -->
    <% include ../partials/scripts %>
    <!-- End import jabascript libs -->

    <script src="app/js/signup.js"></script>
</body>